*,
*:before,
*:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body { font-family:"Helvetica Neue",Helvetica,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;}
/*------------------------------------------
 * 按钮
 *----------------------------------------*/
.btn { display: inline-block; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; border-radius: 4px; margin: 0 4px; vertical-align: middle; white-space: nowrap; border: 1px solid transparent; cursor: pointer; }
.btn-default { color: #333333; background-color: #ffffff; border-color: #cccccc; }
.btn-default:hover { color: #333333; background-color: #e6e6e6; border-color: #adadad; }
.btn-primary { color: #ffffff; background-color: #428bca; border-color: #357ebd; }
.btn-primary:hover { color: #ffffff; background-color: #3071a9; border-color: #285e8e; }
.btn-success { color: #ffffff; background-color: #5cb85c; border-color: #4cae4c; }
.btn-success:hover { color: #ffffff; background-color: #449d44; border-color: #398439; }
.btn-info { color: #ffffff; background-color: #5bc0de; border-color: #46b8da; }
.btn-info:hover { color: #ffffff; background-color: #31b0d5; border-color: #269abc; }
.btn-danger { color: #ffffff; background-color: #d9534f; border-color: #d43f3a; }
.btn-danger:hover { color: #ffffff; background-color: #c9302c; border-color: #ac2925; }
.btn-warning { color: #ffffff; background-color: #f0ad4e; border-color: #eea236; }
.btn-warning:hover { color: #ffffff; background-color: #ec971f; border-color: #d58512; }
/*------------------------------------------
 * tooltips
 *----------------------------------------*/
.tooltips { position: absolute; opacity: 0; filter: alpha(opacity=0); background: black; color: white; padding: 5px 10px; border-radius: 4px; display: block; transition: opacity 0.5s; visibility: visible; }
.tooltips.in { opacity: 0.9; filter: alpha(opacity=90); }
.tooltips-arrow { width: 0; height: 0; position: absolute; }
.tooltips.top { margin-top: -8px; }
.tooltips.top .tooltips-arrow { border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid black; left: 50%; bottom: -5px; margin-left: -5px; }
.tooltips.left { margin-left: -8px; }
.tooltips.left .tooltips-arrow { border-top: 5px solid transparent; border-left: 5px solid black; border-bottom: 5px solid transparent; top: 50%; margin-top: -5px; right: -5px; }
.tooltips.right { margin-left: 8px; }
.tooltips.right .tooltips-arrow { border-top: 5px solid transparent; border-right: 5px solid black; border-bottom: 5px solid transparent; left: -5px; top: 50%; margin-top: -5px; }
.tooltips.bottom { margin-top: 8px; }
.tooltips.bottom .tooltips-arrow { border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 5px solid black; left: 50%; top: -5px; margin-left: -5px; }
.tooltips.danger { background: #d9534f; }
.tooltips.danger.top .tooltips-arrow { border-top-color: #d9534f; }
.tooltips.danger.left .tooltips-arrow { border-left-color: #d9534f; }
.tooltips.danger.right .tooltips-arrow { border-right-color: #d9534f; }
.tooltips.danger.bottom .tooltips-arrow { border-bottom-color: #d9534f; }
.tooltips.warning { background: #eea236; }
.tooltips.warning.top .tooltips-arrow { border-top-color: #eea236; }
.tooltips.warning.left .tooltips-arrow { border-left-color: #eea236; }
.tooltips.warning.right .tooltips-arrow { border-right-color: #eea236; }
.tooltips.warning.bottom .tooltips-arrow { border-bottom-color: #eea236; }
.tooltips.success { background: #4cae4c; }
.tooltips.success.top .tooltips-arrow { border-top-color: #4cae4c; }
.tooltips.success.left .tooltips-arrow { border-left-color: #4cae4c; }
.tooltips.success.right .tooltips-arrow { border-right-color: #4cae4c; }
.tooltips.success.bottom .tooltips-arrow { border-bottom-color: #4cae4c; }
.tooltips.info { background: #46b8da; }
.tooltips.info.top .tooltips-arrow { border-top-color: #46b8da; }
.tooltips.info.left .tooltips-arrow { border-left-color: #46b8da; }
.tooltips.info.right .tooltips-arrow { border-right-color: #46b8da; }
.tooltips.info.bottom .tooltips-arrow { border-bottom-color: #46b8da; }
.tooltips.primary { background: #428bca; }
.tooltips.primary.top .tooltips-arrow { border-top-color: #428bca; }
.tooltips.primary.left .tooltips-arrow { border-left-color: #428bca; }
.tooltips.primary.right .tooltips-arrow { border-right-color: #428bca; }
.tooltips.primary.bottom .tooltips-arrow { border-bottom-color: #428bca; }
/*------------------------------------------
 * popTips
 *----------------------------------------*/
.pop-tips { position: fixed; border-radius: 4px; padding: 5px 10px; background: black; color: white; top: 50%; text-align: center; left: 50%; z-index: 9999; line-height: 25px; }
.pop-tips.success { background: #5cb85c; }
.pop-tips.warning { background: #f0ad4e; }
.pop-tips.error { background: #d9534f; }
.pop-tips span.fa { font-size: 24px; margin-right: 2px; }
.pop-tips span { vertical-align: middle; }
/*------------------------------------------
 * pager
 *----------------------------------------*/
.pagination { display: inline-block; padding-left: 0; margin: 20px 0; border-radius: 4px; }
.pagination > li { display: inline; }
.pagination > li > a,
.pagination > li > span { position: relative; float: left; padding: 6px 12px; line-height: 1.428571429; text-decoration: none; background-color: #ffffff; border: 1px solid #dddddd; margin-left: -1px; }
.pagination > li:first-child > a,
.pagination > li:first-child > span { margin-left: 0; border-bottom-left-radius: 4px; border-top-left-radius: 4px; }
.pagination > li:last-child > a,
.pagination > li:last-child > span { border-bottom-right-radius: 4px; border-top-right-radius: 4px; }
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus { background-color: #eeeeee; }
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus { z-index: 2; color: #ffffff; background-color: #428bca; border-color: #428bca; cursor: default; }
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus { color: #999999; background-color: #ffffff; border-color: #dddddd; cursor: not-allowed; }
.pagination-lg > li > a,
.pagination-lg > li > span { padding: 10px 16px; font-size: 18px; }
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span { border-bottom-left-radius: 6px; border-top-left-radius: 6px; }
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span { border-bottom-right-radius: 6px; border-top-right-radius: 6px; }
.pagination-sm > li > a,
.pagination-sm > li > span { padding: 5px 10px; font-size: 12px; }
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span { border-bottom-left-radius: 3px; border-top-left-radius: 3px; }
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span { border-bottom-right-radius: 3px; border-top-right-radius: 3px; }

/*------------------------------------------
 * switch
 *----------------------------------------*/
.switch { overflow: hidden; width: 75px; height: 30px; position: relative; cursor: pointer; border-radius: 4px; font-family: 'Microsoft YaHei'; vertical-align: middle; display: inline-block; }
.switch.disabled { opacity: 0.5; cursor: default; filter: alpha(opacity=50); }
.switch-scroller { overflow: hidden; zoom: 1; position: absolute; width: 125px; }
.switch-scroller span { display: inline-block; float: left; width: 50px; height: 30px; line-height: 30px; text-align: center; font-weight: bold; }
.switch-scroller span.switch-middle { width: 25px; background: none; background: #e4e4e4; }
.switch-left { background: #04A5E6; color: white; }
.switch-right { background: #bcbcbc; color: white; }
/*------------------------------------------
 * slider
 *----------------------------------------*/
.slider { width: 200px; height: 10px; vertical-align: middle; display: inline-block; position: relative; background: #EFEFF2; border-radius: 4px; border: 1px solid #EFEFF2; }
.slider-selection { position: absolute; background: #F7F7F7; height: 100%; left: 0; width: 0%; }
.slider-handle { width: 20px; height: 20px; border-radius: 40px; background: #3AA1D5; position: absolute; left: 0%; margin-top: -6px; margin-left: -5px; cursor: pointer; }
.switch-right { background: #bcbcbc; color: white; }
/*------------------------------------------
 * 弹出窗
 *----------------------------------------*/
.window { background: white; position: fixed; z-index: 1000; display: none; left: 50%; top: 50%; border: 1px solid #ddd; border-radius: 6px; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
.window-header {  padding: 0 15px; position: relative; height: 50px; line-height: 50px; border-radius: 6px 6px 0 0; border-bottom: 1px solid #e5e5e5; margin: 0;color:#333; font-weight:500;}
.window-close { position: absolute; right: 15px; cursor: pointer;font-size:21px;color:#CDCCCC; }
.window-close:hover { color:#605E5E;}
.window-container { padding: 15px; overflow-y: auto; overflow-x: hidden; }
.window-footer { border-radius: 0 0 6px 6px; text-align: right; height: 60px; line-height: 60px; border-top: 1px solid #e5e5e5; padding: 0 15px; }
.window-backdrop { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 999; display: none; background: black; opacity: 0.5; filter: alpha(opacity=50); }


