.k-autocomplete
{
    padding: 0px;
    overflow: hidden;
    z-index: 99999;
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: none outside none;
    margin: 2px 0 0;
    position: absolute;
    top: 100%;
    padding: 5px 0;

    >ul
    {
        width:100%;
        list-style-position: outside;
        list-style: none;
        padding: 0;
        margin: 0;
        max-height:180px;
        overflow-y:auto;
        overflow-x:hidden;

        >li
        {
            clear: both;
            color: #333333;
            display: block;
            font-weight: normal;
            line-height: 1.42857;
            padding: 3px 10px;
            overflow: hidden;
            cursor:pointer;

            &:hover,
            &.active
            {
                background-color: #eee;
            }
            
        }
    }
}
