*,
*:before,
*:after
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.k-resizable
{
    width: 8px;
    height: 8px;
    position: absolute;
    display: block;
    background: rgba(0,0,0,0);
    border: 1px solid black;
}

.k-resizable-topLeft
{
    left: -4px;
    top: -4px;
    cursor: se-resize;
}

.k-resizable-topCenter
{
    left: 50%;
    margin-left: -4px;
    top: -4px;
    cursor: n-resize;
}

.k-resizable-topRight
{
    right: -4px;
    top: -4px;
    cursor: ne-resize;
}

.k-resizable-leftCenter
{
    top: 50%;
    margin-top: -4px;
    left: -4px;
    cursor: ew-resize;
}

.k-resizable-rightCenter
{
    top: 50%;
    margin-top: -4px;
    right: -4px;
    cursor: ew-resize;
}

.k-resizable-bottomLeft
{
    left: -4px;
    bottom: -4px;
    cursor: ne-resize;
}

.k-resizable-bottomCenter
{
    left: 50%;
    margin-left: -4px;
    bottom: -4px;
    cursor: n-resize;
}

.k-resizable-bottomRight
{
    right: -4px;
    bottom: -4px;
    cursor: se-resize;
}

input.k-error,
textarea.k-error,
select.k-error
{
    border:1px solid #d43f3a;
   
}

label.k-error
{
    color:#d43f3a;
    margin-left:5px;
}

.k-input
{
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: inline-block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    vertical-align: middle;
}

.k-input-group
{
    border-collapse: separate;
    display: table;
    position: relative;

    .k-form-control
    {
        float: left;
        margin-bottom: 0;
        position: relative;
        width: 100%;
        z-index: 2;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .k-input-group-btn
    {
        font-size: 0;
        position: relative;
        white-space: nowrap;
        vertical-align: middle;
        white-space: nowrap;
        width: 1%;
        display: table-cell;

        .k-btn
        {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            position: relative;
            margin-left: -1px;
            height: 34px;
        }
    }
}