.k-contextMenu
{
    background-color: White;
    border: 1px solid #cccccc;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 15;
    width: 150px;
    box-shadow: 0px 0px 10px #cccccc;
    display: none;
    border-radius: 4px;
    padding: 5px 0;
    list-style: none;

    li
    {
        cursor: pointer;
        padding: 3px 15px;
        font-size: 13px;

       

        &:hover
        {
            background: #f5f5f5;
        }

        &.line
        {
            background-color: #e5e5e5;
            height: 1px;
            margin: 9px 0;
            overflow: hidden;
        }
    }
}
