.k-datepicker
{
    position: absolute;
    display: none;
    border: 1px solid #cccccc;
    min-width: 250px;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    padding: 5px;
    background: white;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.176);

    .k-container
    {
        position: relative;
    }

    table
    {
        width: 100%;
        border-collapse: collapse;

        th, td
        {
            text-align: center;
            vertical-align: middle;
            line-height: 25px;
            position: relative;
        }

        td
        {
            width:25px;
            height:25px;
            padding:2px;
        }


        td.old,
        td.new,
        td.disabled
        {
            color: #999;
        }

        td span
        {
            cursor: pointer;
            display: block;
            border-radius: 4px;

            &:hover,
            &.active
            {
                background: #428bca;
                color: white;
            }
        }

        td em
        {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: red;
            position: absolute;
            right: 4px;
            top: 4px;
        }


        td.disabled
        {

            span
            {
                cursor: text;
                text-decoration: line-through;

                &:hover,
                &.active
                {
                    background: none;
                    color: #999;
                }
            }
        }

        th
        {
            span
            {
                cursor: pointer;
                display: inline-block;
                border: 1px solid white;
                padding: 0 5px;
                position: relative;
                background: white;
            }

            span.selected
            {
                border: 1px solid #ccc;
                border-bottom: none;
                z-index: 5;
            }
        }

        .prev,
        .next
        {
            cursor: pointer;
        }
    }

    .year-box
    {
        overflow: hidden;
        width: 80px;
        border: 1px solid #ccc;
        display: none;
        position: absolute;
        background: white;

        .year-box-container
        {
            overflow: hidden;
            width: 9999px;

            ul
            {
                margin: 0;
                padding: 0;
                list-style: none;
                float: left;
                display: inline;
                overflow: hidden;
                zoom: 1;
                width: 80px;
                padding: 5px;
                font-size: 12px;
                height: 135px;
                display: none;

                >li
                {
                    float: left;
                    display: inline;
                    width: 34px;
                    line-height: 25px;
                    cursor: pointer;
                    text-align: center;

                    &:hover
                    {
                        background: #428bca;
                        color: white;
                    }
                }

                >li.cur
                {
                    color: #ccc;
                    cursor: default;

                    &:hover
                    {
                        background: none;
                    }
                }

                >li.disabled
                {
                    color: #ccc;
                    text-decoration: line-through;
                    cursor: not-allowed;
                }
            }
        }

        .year-box-controls
        {
            overflow: hidden;
            padding: 0 10px 5px;

            i
            {
                cursor: pointer;
            }
        }
    }

    .month-box
    {
        position: absolute;
        width: 80px;
        border: 1px solid #ccc;
        overflow: hidden;
        padding: 5px;
        margin: 0;
        list-style: none;
        font-size: 12px;
        background: white;
        display: none;
        z-index: 4;

        li
        {
            width: 34px;
            line-height: 25px;
            float: left;
            display: inline;
            overflow: hidden;
            white-space: nowrap;
            text-align: center;
            cursor: pointer;

            &:hover
            {
                background: #428bca;
                color: white;
            }
        }

        li.disabled
        {
            cursor: text;
            color: #ccc;

            &:hover
            {
                background: none;
                color: #ccc;
            }
        }
    }

    .time-box
    {
        position: relative;
        margin-bottom: 8px;

        .hours-box
        {
            width: 145px;
            height: 100px;
        }

        .minutes-box
        {
            width: 100px;
            height: 78px;
        }

        .seconds-box
        {
            height: 56px;
            width: 80px;
        }

        >.hours-box,
        >.minutes-box,
        >.seconds-box
        {
            list-style: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            zoom: 1;
            position: absolute;
            padding: 5px;
            border: 1px solid #ccc;
            background: white;
            display: none;

            li
            {
                float: left;
                display: inline;
                width: 22px;
                height: 22px;
                text-align: center;
                vertical-align: middle;
                cursor: pointer;

                &:hover
                {
                    background: #428bca;
                    color: white;
                }
            }
        }

        >.time-box-container
        {
            padding-left: 8px;

            div
            {
                display: inline-block;
                border: 1px solid #ccc;

                >span.hours,
                >span.minutes,
                >span.seconds
                {
                    cursor: pointer;
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    text-align: center;
                    display: inline-block;
                }
            }
        }
    }

    .line
    {
        background: #ccc;
        margin: 8px 0;
        height: 1px;
    }
}
