@dropbox-border: 2px solid #f1f1f1;
@dropbox-hover-border: 2px solid #cee4f1;
.widget-dropbox{
    display: inline-block;
    position: absolute;
    border: @dropbox-border;
    cursor: pointer;
    background: #fff;
    overflow: hidden;

    &:hover{
        border: @dropbox-hover-border;

        .ic{
            border-left: @dropbox-hover-border;
        }
    }

    .label{
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        color: #9a9a9a;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
    }

    .ic{
        position: absolute;
        top: 0;
        right: 0;
        border-left: @dropbox-border;
        text-align: center;
        color: #f1f1f1;
    }
}

.widget-dropbox-hover{
    border: @dropbox-hover-border;

    .ic{
        border-left: @dropbox-hover-border;
    }
}

.widget-dropbox-drop{
    margin-top: -5px; 
    position: absolute;
    z-index: 100;
    border: @dropbox-hover-border;
    background: #fff;

    ul{
        margin: 0;
        padding: 0;
    }

    li{
        margin: 0;
        padding: 6px;
        list-style: none;
        cursor: pointer;
        word-break:break-all;

        &:hover{
            background: #f9f9f9;
        }
    }
}

// Variables, mixins, and rules copied from bootstrap 2.0.2 and bootstrap-datepicker less sources
// Dropdown css

@zindexDropdown:                1000;
@grayDark:                      #333;
@baseLineHeight:                18px;
@tableBackground:               transparent; // overall background-color
@dropdownBackground:            @white;
@dropdownBorder:                rgba(0,0,0,.2);
@dropdownLinkColor:             @grayDark;
@dropdownLinkColorHover:        @white;
@dropdownLinkBackgroundHover:   @linkColor;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;
@linkColor:             #08c;
@btnPrimaryBackground:  @linkColor;
@orange:                #f89406;
@activeColor:#2ba6cb;

// Drop shadows
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

// real datepicker styles 
.datepicker {
    display:none;
    position:absolute;
    padding: 4px;
    margin-top: 1px;
    &-inline {
        width: 220px;
    }
    direction: ltr;
    &&-rtl {
        direction: rtl;
        table tr td span {
            float: right;
        }
    }
    &-dropdown {
        top: 0;
        left: 0;
        &:before {
            content: '';
            display: inline-block;
            border-left:   7px solid transparent;
            border-right:  7px solid transparent;
            border-bottom: 7px solid #ccc;
            border-bottom-color: rgba(0,0,0,.2);
            position: absolute;
            top: -7px;
            left: 6px;
        }
        &:after {
            content: '';
            display: inline-block;
            border-left:   6px solid transparent;
            border-right:  6px solid transparent;
            border-bottom: 6px solid @white;
            position: absolute;
            top: -6px;
            left: 7px;
        }
    }
    >div {
        display: none;
    }
    &.days div.datepicker-days {
        display: block;
    }
    &.months div.datepicker-months {
        display: block;
    }
    &.years div.datepicker-years {
        display: block;
    }
    table{
            
        border:none;
        margin: 0;
    }
    td,
    th{
        text-align: center;
        width: 20px;
        height: 20px;
        border: none;
        font-size:12px;
        padding:4px 8px;
        background:#fff;
        cursor:pointer;
        
        
        &.active {
            &.day {
                background:@activeColor; 
            }

            &.year {
                background:@activeColor; 
            }
            
        }
        span.active {
            background:@activeColor; 
        }

    }
    // Inline display inside a table presents some problems with
    // border and background colors.
    .table-striped & table tr {
        td, th {
            background-color:transparent;
        }
    }
    table tr td {

        span {
            display: block;
            width: 23%;
            height: 54px;
            line-height: 54px;
            float: left;
            margin: 1%;
            cursor: pointer;
        }
    }

    th.date-switch {
        width: 145px;
    }

    thead tr:first-child th,
    tfoot tr:first-child th {
        cursor: pointer;
    }
    // Basic styling for calendar-week cells
    .cw {
        font-size: 10px;
        width: 12px;
        padding: 0 2px 0 5px;
        vertical-align: middle;
    }
    thead tr:first-child th.cw {
        cursor: default;
        background-color: transparent;
    }
}
.datepicker-dropdown::before, .datepicker-dropdown::after {
    display:none;
}
.datepicker-close {
    position:absolute;
    top:-30px;
    right:0px;
    width:15px;
    height:30px;
    padding:0px;
    display: none;
}
.datepicker td.old, .datepicker td.new {
    color: #999999;
}
.datepicker td.day.disabled {
    color: #eeeeee;
}
.datepicker td.day:hover {
    background: #d5d5d5;
    color: #111111;
}
.datepicker td.day.old:hover {
    color: #5c5c5c;
}