.k-dropDownTree
{
    /*border: 1px solid #617775;
    background: #f0f6e4;*/
    background-color: #FFFFFF;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.176);
    padding:5px;
    position: absolute;
    z-index: 999;
    display: none;
    overflow:auto;
}

.k-dropDownTree-list
{
    .k-tree
    {

        >li
        {
            padding-left:7px;

            >a
            {
                
                &:hover
                {
                   
                }
            }
        }
    }
}
