.k-portlets
{
    width: 100%;
    padding: 10px;
    padding-bottom: 1px;
    background: #eeeeee;

    .width-10-percent
    {
        width: 9%;
    }

    .width-20-percent
    {
        width: 19%;
    }

    .width-30-percent
    {
        width: 29%;
    }

    .width-33-percent
    {
        width: 32.33%;
    }

    .width-50-percent
    {
        width: 49%;
    }

    .width-60-percent
    {
        width: 59%;
    }

    .width-70-percent
    {
        width: 69%;
    }

    .width-100-percent
    {
        width: 100%;
    }

    .column
    {
        float: left;
        text-align: center;
        margin:0 .5%;
        min-height:1px;

        &.width-100-percent
        {
            float: none;
            margin: 0;
        }
    }


    > .group
    {
        padding: 10px;
        padding-bottom: 0;
        padding-top: 0;
        background: white;
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-bottom: 10px;

        &.group-hide
        {

            .group-body
            {
                display: none;
            }
        }

        > .group-head
        {
            margin-top: 0;
            position: relative;
            font-size: 14px;
            line-height: 40px;
            height: 40px;
            color: #454545;

            > .group-head-icon
            {
                position: absolute;
                top: 0;

                &.left-icon
                {
                }

                &.right-icon
                {
                    right: 0;
                }
            }

            > .group-head-handle
            {
                padding-left: 15px;
            }

            span
            {
                
                height: 20px;
                line-height: 20px;

                &.fa
                {
                    cursor: pointer;
                    margin-right: 5px;
                    font-size: 14px;
                }
            }

            .right
            {
                font-size: 0;

                > .fa
                {
                    margin-left: 8px;
                    margin-right: 0;
                    font-size: 14px;
                }
            }
        }

        > .group-body
        {
            /*overflow: hidden;*/

            > .column
            {
                .webPart
                {
                    border-radius: 4px;
                    width: 100%;
                    margin-bottom: 10px;
                    background: #fff;
                    border: 1px solid #ddd;
                    /*overflow: hidden;*/

                    &.webPart-hide
                    {

                        .webPart-body
                        {
                            display: none;
                        }
                    }

                    .webPart-head
                    {
                        height: 35px;
                        line-height: 35px;
                        padding: 0 10px 0 10px;
                        background: #fbfbfb;
                        border-bottom: 1px solid #ddd;
                        position: relative;
                        border-radius:4px 4px 0 0;

                        > .webPart-head-icon
                        {
                            position: absolute;
                            top: 0;

                            &.left-icon
                            {
                            }

                            &.right-icon
                            {
                                right: 5px;
                            }
                        }

                        .webPart-head-handle
                        {
                            padding-left: 15px;
                            text-align:left;
                        }


                        .left
                        {
                        }

                        .right
                        {
                            font-size: 0;
                            height: 35px;

                            .fa
                            {
                                margin-right: 0;
                                margin-left: 8px;
                                font-size: 14px;
                                line-height: inherit;
                            }
                        }

                        .fa
                        {
                            cursor: pointer;
                            margin-right: 5px;
                        }
                    }

                    .webPart-body
                    {
                        padding: 0;

                        .loading-box
                        {
                            text-align: center;
                            margin:30px 0;
                        }
                    }
                }
            }
        }
    }
}
