.k-rating
{
    overflow: hidden;

    .k-rating-star
    {
        display: inline-block;
        vertical-align: middle;

        img
        {
            cursor:pointer;
        }
    }

    .k-rating-target
    {
        display: inline-block;
        vertical-align: middle;
    }
}
