.k-scrollImg
{
    position: relative;
    padding-left: 30px;
    padding-right: 30px;

    .k-scrollImg-prev
    {
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -7px;
        cursor:pointer;
    }

    .k-scrollImg-next
    {
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -7px;
        cursor:pointer;
    }

    .k-scrollImg-container
    {
        overflow: hidden;
        height: 150px;

        ul
        {
            float: left;
            width: 100%;

            li
            {
                float: left;
                width:200px;
                height: 150px;
                margin:0 5px;

                img
                {
                    width:100%;
                    height:150px;
                }
            }
        }
    }
}
