.k-tab
{
    background: white;
    position: relative;

    >.k-tab-head
    {
        overflow: hidden;

        >div.left,
        >div.right
        {
            float: left;
            width: 20px;
            height: 40px;
            line-height: 40px;
            cursor: pointer;
            text-align: center;
            font-size: 14px;
            border: 1px solid #ccc;
            background: #F2F2F2;
            display: none;
        }
        /*>div.left
        {
            border-right:none;
        }

        >div.right
        {
            border-left:none;
        }*/
        >.k-tab-scroller
        {
            overflow: hidden;
            height: 40px;
            float: left;

            >.k-tab-nav
            {
                overflow: hidden;
                margin: 0;
                padding: 0;
                list-style: none;

                >li
                {
                    position: relative;
                    float: left;
                    display: inline;
                    border: 1px solid #ccc;
                    /*border-radius: 5px 5px 0 0;*/
                    border-left: none;
                    border-bottom: none;
                    height: 40px;
                    line-height: 40px;
                    max-width: 200px;
                    min-width: 100px;
                    background: #F2F2F2;

                    &.tab-add
                    {
                        border: 1px dashed #ccc;
                        background: white;
                        color: #ccc;
                        padding: 0;

                        &:first-child
                        {
                            border-left: 1px dashed #ccc;

                            &:hover
                            {
                                border-color: #666;
                            }
                        }

                        &:hover
                        {
                            color: #666;
                            border-color: #666;

                            >a
                            {
                                color: #666;
                            }
                        }

                        >a
                        {
                            cursor: pointer;
                            text-align: center;
                            color: #ccc;
                            padding: 0;

                            >span
                            {
                                &.fa
                                {
                                    position: static;
                                }
                            }
                        }
                    }

                    &:first-child
                    {
                        border-left: 1px solid #ccc;
                    }

                    &.active
                    {
                        border-color: #ccc;
                        z-index: 1;
                        background: white;

                        >a
                        {
                            color: #333;

                            >.fa-close
                            {
                                /*color: #D9534F;*/
                            }
                        }
                    }

                    >a
                    {
                        text-decoration: none;
                        color: #666;
                        padding: 0 18px;
                        display: block;
                        overflow: hidden;
                        position: relative;

                        >span
                        {

                            &.k-tab-nav-title
                            {
                                display: block;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            &.fa
                            {
                                font-size: 12px;
                                position: absolute;
                                right: 4px;
                                top: 14px;

                                &.fa-refresh
                                {
                                    left: 4px;
                                    right: initial;
                                    /*color: #5CB85C;*/
                                }

                                &.fa-close
                                {
                                    /*color:#D9534F;*/
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    >.k-tab-container
    {
        border: 1px solid #ccc;
        position: relative;
        top: -1px;
        border-radius: 0 4px 4px 4px;
        padding: 18px;
        padding-top: 10px;

        >.k-tab-content
        {
            display: none;
            min-height: 100px;
        }
    }
}
