.k-tree
{
    font-family: Verdana,Arial,Helvetica,AppleGothic,sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;

    li
    {
        line-height: 14px;
        list-style: outside none none;
        margin: 0;
        outline: 0 none;
        padding: 0;
        text-align: left;
        white-space: nowrap;

        a
        {
            background-color: transparent;
            color: #333;
            cursor: pointer;
            display: inline-block;
            height: 17px;
            margin: 0;
            padding: 1px 3px 0 0;
            text-decoration: none;
            vertical-align: top;

            &:hover
            {
                text-decoration: underline;

                span.add,
                span.edit,
                span.remove
                {
                    display: inline-block;
                }
            }

            &.selected
            {
                background-color: #ffe6b0;
                border: 1px solid #ffb951;
                color: black;
                height: 19px;
                opacity: 0.8;
                padding-top: 0;

                span.add,
                span.edit,
                span.remove
                {
                    display: inline-block;
                }
            }

            &.disabled
            {
                color:#ccc;
            }
        }

        span
        {
            line-height: 16px;
            margin-right: 2px;
        }

        span.icon
        {
            line-height: 0;
            margin: 0;
            width: 16px;
            height: 16px;
            display: inline-block;
            vertical-align: middle;
            border: 0 none;
            cursor: pointer;
            outline: none;
            background-color: transparent;
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-image: url("../images/tree/tree.png");


            &.switch
            {
                height: 18px;
                width: 18px;

                &.center_docu
                {
                    background-position: -56px -18px;
                }

                &.bottom_docu
                {
                    background-position: -56px -36px;
                }
            }

            &.root_open
            {
                background-position: -92px -54px;
            }

            &.root_close
            {
                background-position: -74px -54px;
            }

            &.root_docu
            {
                background: none;
            }

            &.roots_open
            {
                background-position: -92px 0;
            }

            &.roots_close
            {
                background-position: -74px 0;
            }

            &.roots_docu
            {
                background-position: -56px 0;
            }

            &.center_open
            {
                background-position: -92px -18px;
            }

            &.center_close
            {
                background-position: -74px -18px;
            }

            &.bottom_open
            {
                background-position: -92px -36px;
            }

            &.bottom_close
            {
                background-position: -74px -36px;
            }

            &.ico_open
            {
                background-position: -110px -16px;
                margin-right: 2px;
                vertical-align: top;
            }

            &.ico_close
            {
                background-position: -110px 0;
                margin-right: 2px;
                vertical-align: top;
            }

            &.ico_docu
            {
                background-position: -110px -32px;
                margin-right: 2px;
                vertical-align: top;
            }

            &.add
            {
                background-position: -144px 0;
                margin-left: 2px;
                margin-right: -1px;
                vertical-align: top;
                display: none;
            }

            &.edit
            {
                background-position: -110px -48px;
                margin-right: 2px;
                vertical-align: top;
                display: none;
            }

            &.remove
            {
                background-position: -110px -64px;
                margin-right: 2px;
                vertical-align: top;
                display: none;
            }

            &.chk
            {
                cursor: auto;
                height: 13px;
                margin: 0 3px 0 0;
                width: 13px;
                cursor: pointer;

                &.checkbox_false_full
                {
                    background-position: 0 0;
                }

                &.checkbox_true_full
                {
                    background-position: -14px 0;
                }

                &.checkbox_false_part
                {
                    background-position: 0 -28px;
                }

                &.radio_false_full
                {
                    background-position: -28px 0;
                }

                &.radio_true_full
                {
                    background-position: -42px 0;
                }

                &.radio_false_part
                {
                    background-position: -28px -28px;
                }
            }
        }

        ul
        {
            margin: 0;
            padding: 0 0 0 18px;

            &.line
            {
                background: url("../images/tree/line_conn.gif") repeat-y;
            }
        }
    }

    ul
    {
        list-style: none;
    }
}
