/*------------------------------------------
 * Ê÷ÐÎ±í¸ñ
 *----------------------------------------*/
table.k-treeTable
{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table.k-treeTable tr th
{
    border-bottom: 1px solid #bdbdbd;
    color: #151515;
    font-size: 1.1em;
    font-weight: bold;
    padding-bottom: 2px;
    text-align: left;
    padding:8px;
}

table.k-treeTable tr td
{
    border-bottom: 1px solid #dadada;
    padding:8px;
    text-align: left;
    vertical-align: middle;
}

table.k-treeTable tr:hover
{
    background:#F5F5F5;
}

table.k-treeTable span.indenter
{
    -moz-user-select: none;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 19px;
}

table.k-treeTable span.indenter a
{
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    text-decoration: none;
    width: 19px;
}

table.k-treeTable span
{
    background-position: center left;
    background-repeat: no-repeat;
    padding: .2em 0 .2em 1.5em;
}

table.k-treeTable span.file
{
    background-image: url(../images/treetable/file.png);
}

table.k-treeTable span.folder
{
    background-image: url(../images/treetable/folder.png);
}

table.k-treeTable tr.collapsed span.indenter a
{
    background-image: url(../images/treetable/expand.png);
}

table.k-treeTable tr.expanded span.indenter a
{
    background-image: url(../images/treetable/collapse.png);
}

table.k-treeTable tr.show
{
    display:table-row;
}

table.k-treeTable tr.hide
{
    display:none;
}

table.k-treeTable tr.selected
{
    background-color: #CCE6FF;
    /*color: #fff;*/
}

table.k-treeTable tr.selected td a,
table.k-treeTable tr.selected td font
{
    /*color:#fff;*/
}

table.k-treeTable tr.collapsed.selected span.indenter a
{
    /*background-image: url(images/treetable/expand-light.png);*/
}

table.k-treeTable tr.expanded.selected span.indenter a
{
    /*background-image: url(images/treetable/collapse-light.png);*/
}

table.k-treeTable tr.accept
{
    background-color: #a3bce4;
    color: #fff;
}

table.k-treeTable tr.collapsed.accept td span.indenter a
{
    background-image: url(../images/treetable/expand-light.png);
}

table.k-treeTable tr.expanded.accept td span.indenter a
{
    background-image: url(../images/treetable/collapse-light.png);
}
