
.k-input-group-upload
{
    position:relative;

    .fa-close
    {
        position:absolute;
        right:80px;
        top:10px;
        z-index:10;
        color:black;
        cursor:pointer;
        display:none;
    }
}


.k-upload-box
{
    overflow: hidden;
    font-size: 12px;

    .k-upload-result
    {
        border: 1px solid #ddd;
        height: 35px;
        line-height: 35px;
        min-width: 200px;
        position: relative;
        border-radius: 4px;
        padding-right: 20px;
        padding-left: 10px;
        margin-bottom:10px;
        width:100%;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;

        .fa
        {
            position: absolute;
            right: 5px;
            top: 10px;
            cursor: pointer;
        }
    }


    .button-box
    {
        position: relative;
        overflow: hidden;
        float: left;


        button
        {
        }

        .loading-box
        {
            position:relative;
            width:15px;
            height:15px;
            display:inline-block;
            vertical-align:middle;
            display:none;
        }

        input[type='file']
        {
            position: absolute;
            left: 0;
            top: 0;
            filter: alpha(opacity=0);
            opacity: 0;
            font-size: 40px;
            height: 100%;
            width: 100%;
            cursor: pointer;
            display: block;
        }
    }
}
