.k-window
{
    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    display: none;
    left: 50%;
    position: fixed;
    top: 50%;
    z-index: 1000;
}

.k-window-header
{
    border-bottom: 1px solid #e5e5e5;
    border-radius: 6px 6px 0 0;
    color: #333;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0 15px;
    position: relative;

    .k-window-loading
    {
        width: 32px;
        height: 32px;
        display:inline-block;
        vertical-align:middle;
        margin-left:10px;
    }
}

.k-window-close
{
    color: #CDCCCC;
    cursor: pointer;
    font-size: 21px;
    position: absolute;
    right: 15px;
}

.k-window-close:hover
{
    color: #605E5E;
}

.k-window-container
{
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px;
    position: relative;
}

.k-window-loading
{
    background: url(../images/common/loading.gif) center center no-repeat;
  
}

.k-window-footer
{
    border-radius: 0 0 6px 6px;
    border-top: 1px solid #e5e5e5;
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    text-align: right;

    >.append-btn-box
    {
        display: inline;
    }
}

.k-window-backdrop
{
    background: black;
    bottom: 0;
    display: none;
    filter: alpha(opacity=50);
    left: 0;
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}
